$modal-content-width: 90%;
$base-color: rgb(48, 51, 58)
$button-width: 50%;
$title-color: rgb(143, 188, 205);
$link-color: #e4e7eb;
$panel-item-border: 0px solid $title-color;
$link-active: #4073b8;
$footer-background-color: $base-color


.fold-down 

.panel-tabs
    padding-bottom: 5%
.accordion
    padding-right: 10px
.columns
    padding-bottom: 5%
.panel-item
    border-left: 2px solid $link-active
    border-right: 2px solid $link-active
    border-radius: 10px
    padding: 0px 10px 0px
    background-color: rgba(0, 0, 0, 0.1)
    &:hover
        border-top: 1px solid #4073b8
        border-bottom: 1px solid #4073b8
.hero
    border: 3px solid
    border-image: linear-gradient(90deg, $link-active, rgba(0, 0, 0, 0)) 100 0
    .hero-body
        .container
            .title
                color: $title-color
    .container
        .accordion 
            padding-bottom: 15% 
            .level
                p
                    color: $title-color
                    border-left: 2px solid $title-color
                    padding: 0px 10px 0px
                    &:hover
                        animation: bg-fade 1s 1 
                        border-radius: 3px
.column

    .subtitle
        color: $link-color
        &:hover

body
    background-color: $base-color
    height: 100vh
figure
    background-color: rgb(143, 188, 205);

@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import '../../node_modules/bulma/sass/components/modal.sass';
@import "../../node_modules/bulma/sass/components/level.sass";
@import '../../node_modules/bulma/sass/components/tabs.sass'
@import '../../node_modules/bulma/sass/components/panel.sass'
@import '../../node_modules/bulma/sass/elements/_all.sass'
@import '../../node_modules/bulma/sass/form/_all.sass'
@import "../../node_modules/bulma/sass/layout/hero.sass"
@import "../../node_modules/bulma/sass/layout/footer.sass"
