$modal-content-width: 90%;
$button-width: 50%;
$title-color: rgb(143, 188, 205);
.fold-down 
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

.hero
    .hero-body
        .container
            .title
                color: $title-color
    .container
        .accordion 
            padding-bottom: 15% 
            .level
                p
                    color: $title-color
                    border-left: 2px solid $title-color
                    padding: 0px 10px 0px
                    &:hover
                        animation: bg-fade 1s 1 
                        border-radius: 3px
.is-ancestor
    div
        div
            .is-child
                .columns
                    .column
                         .accordion 
                        
                             .level
                                    p
                                        color: $title-color
                                        border-left: 2px solid $title-color
                                        padding: 0px 10px 0px
                                    &:hover
                                        animation: bg-fade 1s 1 
                                        border-radius: 3px
body
    background-color: rgb(48, 51, 58)
    height: 100vh
figure
    background-color: rgb(143, 188, 205);

@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import '../../node_modules/bulma/sass/components/modal.sass';
@import "../../node_modules/bulma/sass/components/level.sass";
@import '../../node_modules/bulma/sass/components/tabs.sass'
@import '../../node_modules/bulma/sass/components/panel.sass'
@import '../../node_modules/bulma/sass/elements/_all.sass'
@import '../../node_modules/bulma/sass/form/_all.sass'
@import "../../node_modules/bulma/sass/layout/hero.sass"
