$modal-content-width: 90%;
$button-width: 50%;
$title-color: rgb(143, 188, 205);
$panel-display: none
body
    background-color: rgb(48, 51, 58)
    height: 100vh

@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import '../../node_modules/bulma/sass/components/modal.sass';
@import "../../node_modules/bulma/sass/components/level.sass";
@import '../../node_modules/bulma/sass/components/tabs.sass'
@import '../../node_modules/bulma/sass/components/panel.sass'
@import '../../node_modules/bulma/sass/elements/_all.sass'
@import '../../node_modules/bulma/sass/form/_all.sass'
