.App {
  text-align: center;
}

@keyframes bg-fade {
  from {background-color: rgba(0, 0, 0, 0)}
  to {background-color: rgba(35, 73, 122, 0.5);}
}
@-webkit-keyframes bg-fade {
  from {background-color: rgba(0, 0, 0, 0)}
  to {background-color: rgba(35, 73, 122, 0.5);}
}